doctype 5
html
  head
    title= title
    meta(name="viewport", content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/twitter.css')
    link(rel='stylesheet', href='/stylesheets/imports.css')
    link(rel='stylesheet', href='/stylesheets/shopify.css')
    link(rel='stylesheet', href='/stylesheets/shopify_buttons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    script(type="text/javascript", src="/javascripts/bootstrap.js")
    link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans")
  body
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container
                a(class="btn btn-navbar", data-toggle="collapse", data-target=".nav-callapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

                a(href="/", class="brand") Nodify Demo App

                - if (typeof(current_shop) != 'undefined')
                    div.nav-collapse
                        ul.nav.pull-right
                            li.dropdown
                                a.shop_name.dropdown-toggle(data-toggle='dropdown', href="#" )=current_shop
                                ul.dropdown-menu
                                    li
                                        a(href="http://#{current_shop}", target = 'blank')
                                            i.icon-home
                                            | Storefront  
                                    li
                                        a(href="http://#{current_shop}admin/", target = 'blank')
                                            i.icon-home 
                                            | Shopify Admin
                                    li.divider
                                    li
                                        a(href="/logout")
                                            i.icon-off 
                                            | Logout   

    div.container
        div.content!= body
        footer
            p A Shopify app by (Developer name here)
